        /* メニューのスタイル */
        #slide-menu {
            position: fixed;
            top: 0;
            right: -240px; /* メニューが初めは非表示 */
            width: 200px;
            height: 100vh;
            background-color: #f0f0f0;
            padding: 20px;
            transition: right 0.3s ease;
        }

        /* メニュー表示時にコンテンツを右にずらすためのスタイル */
        /*#content {
            margin-left: 250px;
            transition: margin-left 0.3s ease;
        }*/

        .finish {
            padding: 10px 20px;
            font-size: 16px;
            /*position: fixed;*/
            bottom: 20px; 
            right: 20px;
          }
        
        #menu-button {
            position: fixed;
            padding: 10px 20px;
            font-size: 16px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);    
            
        }