:root {
    --fcolor1:255;
    --fcolor2:0;
    --fcolor3:0;
}
/* QRコードの背景色を変更 */
#qrcode svg rect {
  fill: rgb(var(--fcolor1),var(--fcolor2),var(--fcolor3)); /* 背景色を白に設定 */
}

/* QRコードの塗りつぶし色を変更 */
#qrcode svg path {
  fill: rgb(0,0,0); /* 塗りつぶし色を黒に設定 */
}